div{
    background-color: brown;
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 60px;
    color: whitesmoke;
}

.carré2{
    margin-left: 250px;
    background-color: burlywood;
    margin-bottom: 50px;
}

.carré1{
    padding-left: 10px;
    padding-top: 40px;
}

